<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Ei'sGallery ❤️</title>
    <link href="images/gt_black.png" rel="icon" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/thumbnail-gallery.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <div class="container gallery-container" style="font-weight: bold;">

        </h1>

        <p class="page-description text-center"></p>

        <div class="tz-gallery">
            <div class="text-center">
                
                             <div class="col-md-12" style="color: white; margin:5px;">
                                <a style="color: white; margin:5px;" href="/index"><i class="ni ni-collection"></i></a>
                                <a style="color: white; margin:5px;" href="/blogs"><i class="ni ni-money-coins"></i></a>
                                <a style="color: white; margin:5px;" href="/forecast"> <i class="ni ni-map-big"></i></a>
                                <a style="color: white; margin:5px;" href="/single"><i class="ni ni-tablet-button"></i></a>
                                <a style="color: white; margin:5px;" href="/manual"> <i class="ni ni-support-16"></i></a>
                                <a style="color: white; margin:5px;" href="/single"> <i class="ni ni-send"></i></a>
                                <a style="color: white; margin:5px;" href="/"><i class="ni ni-button-power"></i></a>
                            </div>
            </div>
        

            <div class="row">


                <% for(var i=0; i<data.length; i++) {%>



                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="<%= data[i].Post_image %>">
                            <img src="<%= data[i].Post_image %>" alt="Park">
                        </a>
                        <div class="caption">
                            <h3>
                                <%= data[i].Post_title %>
                            </h3>
                            <p>
                                <%= data[i].Post_comment %>
                            </p>

                            <form method="post" action="/delete">
                                <input id="prodId" name="prodId" type="hidden" value="<%= data[i]._id %>">
                                <button type="submit" class="btn-sm btn-danger text-center" name="Delete"> remove
                                </button>
                            </form>
                        </div>
                    </div>
                </div>


                <% } %>





            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
</body>

</html>
