<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<title> Ei'sGallery ❤️</title>
	<link href="images/gt_black.png" rel="icon" type="image/png">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<!-- <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet"> -->

	<!-- Animate.css -->
	<link rel="stylesheet" href="photo/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="photo/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="photo/css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="photo/css/style.css">
  	<link href="argon/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="photo/css/magnific-popup.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


	<!-- Modernizr JS -->
	<script src="photo/js/modernizr-2.6.2.min.js"></script>

</head>

<body>


	<div id="fh5co-page">

		<div class="aside-toggle btn-circle">
			<a href="#"><span></span><em>About</em></a>
		</div>
		<div class="back-to-home btn-circle">
			<a href="/profile"><span></span><em>Back</em></a>
		</div>

		<div id="fh5co-aside">
			<div class="image-bg"></div>
			<div class="overlay"></div>
			<div class="row">
				<div class="col-md-12">
					<div id="fh5co-aside-inner">
						<div class="row" id="fh5co-bio">
							<div class="col-md-12">
								<h2>Full Display</h2>
							</div>
							<div class="col-md-6">
								<p>Here we go, <a href="#">Full Display</a>, here is a full display template for awesome</p>
							</div>

							<div class="col-md-12" style="color: white; margin:5px;">
								<a style="color: white; margin:5px;" href="/index"><i class="ni ni-collection"></i></a>
								<a style="color: white; margin:5px;" href="/blogs"><i class="ni ni-money-coins"></i></a>
								<a style="color: white; margin:5px;" href="/forecast"> <i class="ni ni-map-big"></i></a>
								<a style="color: white; margin:5px;" href="/single"><i class="ni ni-tablet-button"></i></a>
								<a style="color: white; margin:5px;" href="/manual"> <i class="ni ni-support-16"></i></a>
								<a style="color: white; margin:5px;" href="/single"> <i class="ni ni-send"></i></a>
								<a style="color: white; margin:5px;" href="/"><i class="ni ni-button-power"></i></a>
							</div>
							<div class="col-md-12" style="margin-top: 40px;">
								<p>&copy; 2018, <a href="#">GREENTECH INNOVATION GROUP</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="fh5co-image-grid">


			<div class="grid">
				<div class="grid-sizer"></div>



				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/City.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/City.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<% for(var i=0; i<data.length; i++) {%>



				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="<%= data[i].Post_image %>" class="image-popup" title="<%= data[i].Post_title %>">
						<div class="img-wrap">
							<img src="<%= data[i].Post_image %>" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>
										<%= data[i].Post_title %>
									</h2>
									<p>
										<%= data[i].Post_comment %>
									</p>
								</div>
							</div>
						</div>
					</a>
				</div>


				<% } %>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first1.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first1.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first2.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first2.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first3.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first3.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first4.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first4.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first5.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first5.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first6.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first6.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first7.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first7.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first8.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first8.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first9.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first9.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first10.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first10.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first11.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first11.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first12.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first12.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first13.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first13.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first14.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first14.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first15.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first15.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first16.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first16.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first17.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first17.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first18.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first18.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first19.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first19.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first20.JPG" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first20.JPG" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first21.JPG" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first21.JPG" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first22.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first22.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first23.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first23.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first24.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first24.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first25.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first25.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first26.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first26.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first27.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first27.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first28.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first28.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first29.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first29.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first30.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first30.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first31.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first31.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first32.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first32.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first33.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first33.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first34.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first34.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first35.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first35.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first36.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first36.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first37.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first37.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first38.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first38.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first39.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first39.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>



				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first40.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first40.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first41.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first41.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first42.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first42.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first0.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first0.jpg" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first1.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first1.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first2.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first2.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first3.jpg" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first3.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first4.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first4.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first5.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first5.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first6.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first6.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first7.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first7.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first8.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first8.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first9.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first9.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first10.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first10.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>


				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first11.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first11.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first12.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first12.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first13.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first13.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first14.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first14.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="grid-item item animate-box" data-animate-effect="fadeIn">
					<a href="images/fulls/first22.png" class="image-popup" title="Name of photo or title here">
						<div class="img-wrap">
							<img src="images/fulls/first22.png" alt="" class="img-responsive">
						</div>
						<div class="text-wrap">
							<div class="text-inner popup">
								<div>
									<h2>Name of photo or title here</h2>
								</div>
							</div>
						</div>
					</a>
				</div>



			</div>


		</div>

	</div>

	<!-- jQuery -->
	<script src="photo/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="photo/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="photo/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="photo/js/jquery.waypoints.min.js"></script>

	<!-- Magnific -->
	<script src="photo/js/jquery.magnific-popup.min.js"></script>
	<script src="photo/js/magnific-popup-options.js"></script>
	<!-- Isotope & imagesLoaded -->
	<script src="photo/js/isotope.pkgd.min.js"></script>
	<script src="photo/js/imagesloaded.pkgd.min.js"></script>
	<!-- GSAP  -->
	<script src="photo/js/TweenLite.min.js"></script>
	<script src="photo/js/CSSPlugin.min.js"></script>
	<script src="photo/js/EasePack.min.js"></script>

	<!-- MAIN JS -->
	<script src="photo/js/main.js"></script>

</body>

</html>
